/* EJERCICIO SELECTOR DE TODOS LOS HIJOS  */

.selectorCadenaDescendente h2 {

    background-color: blue;
    height: 100px;
}

.selectorDeTodosLosHijos>div>div>h2 {
    background-color: blue;
    height: 100px;
}


/* DIFERENCIA ENTRE MARGIN Y PADDING */


.seccionMargin {

    background-color: violet;
    height: 200px;
    margin: 50px;
    /* border: 6px solid yellow;
    text-align: center;
    padding-bottom: 40px;
    padding-top: 80px; */
}

.seccionPadding {

    background-color: yellow;
    height: 200px;
    padding: 50px;
}


/* DISPLAY BLOCK E INLINE */


.bloqueInline>p {
    background-color: orange;



}

.bloqueInline a {


    background-color: blue;
    color: white;
}

.bloqueInline h1 {
    background-color: green;
}

.bloqueInline h3 {

    background-color: aquamarine;
}

.bloqueInline h6 {


    background-color: red;
}

.bloqueInline>div {

    background-color: magenta;
}










.bloqueInline2>p {

    background-color: orange;
    display: inline;


}

.bloqueInline2 a {


    background-color: blue;
    color: white;
    display: block;
}

.bloqueInline2 h1 {
    background-color: green;
    display: inline;
}

.bloqueInline2 h3 {

    background-color: aquamarine;
    display: inline;
}

.bloqueInline2 h6 {


    background-color: red;
    display: inline;
}

.bloqueInline2>div>p {

    background-color: magenta;
    display: inline;
}




/* USO DE JUSTIFY CONTENT Y ALIGN CONTENT */


.primerFlex {

    background-color: green;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: end;
    background-color: green;

}

.segundoFlex {
    background-color: blue;
    width: 300px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: end;


}


/* EJERCICIOS REPASO DISPLAY FLEX */

.flexColumna {

    display: flex;
    flex-direction: column;

}

.primerParrafo {




    height: 100px;
    background-color: blue;


}

.segundoParrafo {


    height: 200px;
    background-color: green;


}


.ejercicioFlex {

    display: flex;
    flex-direction: row;

}

.primeraSeccion {
    width: 40%;
    background-color: hotpink;
}

.segundaSeccion {
    width: 60%;
    background-color: purple;
    display: flex;
    flex-direction: row;

}

.parrafo1 {
    width: 30%;
    background-color: pink;

}

.parrafo2 {
    width: 70%;
    background-color: violet;
}


/* EJERCICIO PARA PRACTICAR MEDIA QUERIES */

/* CREAR UNA SECCION DE 500PX DE ALTURA CON LAS SIGUIENTES RESTRICCIONES: */

/* MENOS DE 350PX 
COLOR FONDO  */




/* MENOS DE 616PX Y MAYOR DE 350PX 
COLOR DE FONDO ROJO */



/* MENOS DE 933PX Y MAYOR DE 616PX 
COLOR DE FONDO AZUL */



/* MENOS DE 1131PX Y MAYOR DE 933PX 
COLOR DE FONDO AMARILLO */




/* MAYOR DE 1131 
COLOR DE FONDO MARRON */



/* ejercicIo AR */

.ejercicioAR {
    height: 500px;
    background-color: blue;
    position: relative;
    /* background-image: linear-gradient(to right, red 0%, blue 85%); */
    background: rgba(197, 137, 215, 1);
    background: -moz-linear-gradient(left, rgba(197, 137, 215, 1) 0%, rgba(197, 137, 215, 0.86) 34%, rgba(197, 137, 215, 0.59) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(197, 137, 215, 1)), color-stop(34%, rgba(197, 137, 215, 0.86)), color-stop(100%, rgba(197, 137, 215, 0.59)));
    background: -webkit-linear-gradient(left, rgba(197, 137, 215, 1) 0%, rgba(197, 137, 215, 0.86) 34%, rgba(197, 137, 215, 0.59) 100%);
    background: -o-linear-gradient(left, rgba(197, 137, 215, 1) 0%, rgba(197, 137, 215, 0.86) 34%, rgba(197, 137, 215, 0.59) 100%);
    background: -ms-linear-gradient(left, rgba(197, 137, 215, 1) 0%, rgba(197, 137, 215, 0.86) 34%, rgba(197, 137, 215, 0.59) 100%);
    background: linear-gradient(to right, rgba(197, 137, 215, 1) 0%, rgba(197, 137, 215, 0.86) 34%, rgba(197, 137, 215, 0.59) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c589d7', endColorstr='#c589d7', GradientType=1);


}

.ejercicioAR div {
    width: 80px;
    height: 80px;
    background-color: red;
    position: absolute;
    bottom: 250px;
    top: 250px;
    right: 0;
    -webkit-box-shadow: -12px -12px 5px 2px rgba(0, 0, 0, 0.52);
    -moz-box-shadow: -12px -12px 5px 2px rgba(0, 0, 0, 0.52);
    box-shadow: -12px -12px 5px 2px rgba(0, 0, 0, 0.52);
}



.ejercicioGrid div{
    border: 1px solid black;

}



.ejercicioGrid {
    display: grid;
    grid-template-columns: 20% 30% 50%;
    grid-template-rows: 200px 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}


.ejercicioGrid2 div{
    border:3px solid black;

}

.ejercicioGrid2{
    display: grid;
    /* grid-template-columns: 50% 50%; */
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 300px 100px 200px;
    margin-bottom: 100px;
}


.ejercicioGrid3 div{
    border: 1px solid brown;
    

}
.ejercicioGrid3{
    display: grid;
    height: 500px;
    grid-template-columns: 1fr 3fr 2fr 1.5fr;
    grid-template-rows: 5fr 15fr 16fr 7fr;
    margin-bottom: 100px;
}


.ejercicioRepeat div{
    border: 2px solid violet;

}


.ejercicioRepeat{
    display: grid;
    height: 300px;
    /* column-gap: 20px;
    row-gap: 20px; */
    gap: 20px;

    /* grid-template-rows: 2fr 2fr;
    grid-template-columns: 1fr 1fr; */
     grid: 2fr 2fr/ 1fr 1fr;

}


.repaso1{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr;
    height: 900px;
    margin-bottom: 100px;

}


.repaso1 div{
    border: 1px solid black;
}


.ultimoDiv{
    grid-column: 1/3;
    grid-row: 3/4;
}



.repasoGrid{
    display:grid ;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 900px;
    margin-bottom: 100px;
}

.repasoGrid div{
    border: 3px solid hotpink;
}

.primerD{
    grid-column: 1/3;
    grid-row: 3/5;
}

.segundoD{
    grid-column: 2/4;
    grid-row: 2/3;
}

.tercerD{
    grid-column: 3/4;
    grid-row: 1/2;
}
.cuartoD{
    grid-column: 3/4;
    grid-row: 3/4;
}

.quintoD{
    grid-column: 1/2;
    grid-row: 1/3;

}


.cuadro{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 100px 200px 100px 100px;
}


.cuadro div{
    border: 10px solid black;
}

.cuadro1{
    grid-column: 4/5;
    grid-row: 1/3;
    background-color: steelblue;

}

.cuadro2{
    grid-column:3/4 ;
    grid-row: 1/2;
    background-color: yellow;
    
}

.cuadro3{
    grid-row: 3/5;
    grid-column: 2/5;
    background-color: yellow;
}

.cuadro4{
    grid-column: 1/2;
    grid-row:2/5;
    background-color: red;
}

.cuadro5{
    grid-column: 1/3;
    grid-row: 1/2;
    background-color: black;
}


