:root {
    /* --colorprincipal: red; */
    --colorprimario: rgb(248 102 102);
    --colorsecundario: rgb(33 37 41);
    --fuenteprincipal: 'Open Sans', sans-serif;
    --fuenteBotones: "DinBold", sans-serif;


}




html {
    font-size: 62.5%;
    /* box-sizing: border-box;
    *,*::before, *::after* ´{

        box-sizing: inherit;
    } */
}


body {
    font-size: 16px;
    /* background-color: var(--colorprincipal) */

    font-family: var(--fuenteprincipal);

}



/* .botoncursos{
    color:white;
    border: 2px solid black;
    background-color: ;
} */
/* .ejerciciocolor{
    color: var(--colorprincipal);
}

/* .cursos{
    color: #F76666;
    font-weight: 800;
    box-sizing: border-box;
    text-align: center;
    padding-bottom: 50px;
    text-align: center;
    box-sizing: border-box;
 
    
}

.tituloazul{
    color: rgb(2 5 47);
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    box-sizing: border-box;

} */





/* 
h1{

color: white;
font-size: 4.5rem;
background-color: rgba(248, 102, 102, 0.65);
font-weight: 800;
padding: 35px;
margin-bottom: 10px;
font-family: 'Open Sans', sans-serif;
line-height: 1.2;

} */


/* EJERCICIO DE PRUEBA
#primerh3{
    color: blueviolet;
    font-size: small;
    text-align: center;

}

#segundoh3{
    color: aqua;
    font-size: larger;
    text-align: center;
}

.ejercicioselectores h3{
    color: blue;
    font-size:x-large;
    text-align: center;
} */

/* html{
    font-size: 62.5%;
}

body{
    font-size: 16px;
    /* background-color: green; */

/*Esto me permite conseguir 10px=1Rem */

/* h1{
    
    color: red;
    /*PROPIEDAD Y VALOR*/
/* background-color: yellow;
    text-align: center;
    text-transform: capitalize;
    padding-top: 30px;
    padding-bottom: 100px;
    margin-top: 200px;
    margin-bottom: 200px;
    border: 30px solid black;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 70px;
    max-width: 80%; */
/*80% del ancho de la página*/



/* } */


/* .seccionprueba h5{
    color: white;
    background-color: blue; */

/* Si hacemos .seccionprueba,h5 --> La coma afectará a todos los h5 y el espacio es para la cadena descendente 
    y solo afecta al h5 que hemos seleccionado */
/* } */

/* .seccionprueba p{
    color: white;
    background-color: red; */


/* } */

/* .seccionprueba h3{
    color: white;
    background-color: green; */
/* } */
/* body{
    background-color: green;
} Para minimizar el código es mejor poner todas las propiedades del body juntas, aunquie daría igual abrir tanta bodys quieras.
Así está más ordenado*/


/* EJERCICIO DE SELECTORES */

/* 

SELECTOR DE CLASE
.primerh3{

    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
} */

/* SELECTOR DE ID */
/* #segundoh3{

    color: red;
    text-transform: uppercase;
    font-size:3rem ;
    text-align: center;
} */

/* SELECTOR DE ELEMENTO */

/* h6{

    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
} */



/* 
SELECTOR DE CADENA DESCENDENTE  */
/* .ejercicioselectores p{
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;

} */


/* SELECTOR DE ATRIBUTO */
/* [src=img/Logo-Adecco.png]{
    background-color: yellow;
} */

/* SELECTOR DE DE TODOS LOS HIJOS */
/* 
.ejercicioselectores a{
    color: red;
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;


}

/* SELECTOR MULTIPLE */

/* #segundoh3, [src="img/Logo-Adecco.png"]{

    background-color: green;
} */


/* ESTILOS GENERICOS */
.contenedor {
    max-width: 87%;
    /* margin-top: 0;
    margin-right: auto;
    margin-bottom: 0;
    margin-left: auto; */

    /* margin: 0 auto 0 auto; */

    margin: 0 auto;
}


/* ESTILOS PARA EL MAIN */

.fondoMain {
    background-image: url(../img/11641893944_banner_zona_centro.png);

    /* para buscar la imagen dos puntos para ir hacia atras y encontrar la carpeta de imagen */
    background-size: cover;
    background-position: top left;
    padding: 80px 0 180px 0;
}



.margenDerecho {
    margin-right: 33%;
}



h1 {
    color: white;
    font-size: 4.5rem;
    background-color: rgba(248, 102, 102, 0.65);
    font-weight: 800;
    padding: 35px;
    margin-bottom: 10px;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;



}


.fondoMain a {
    background-color: black;
    color: white;
    border: 2px solid black;
    padding: 24px 94px;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--fuenteBotones);
    font-weight: 700;
    font-size: 1.4rem;
}


.flexMain {
    display: flex;
    flex-direction: row;
    /* Por defecto es row */

    justify-content: space-between;
}


.botonVerCursos:hover{
    background-color: white;
    color: var(--colorprimario);
    border: 2px solid var(--colorprimario);
}




/* ESTILOS PARA LA SECCION IMAGEN DE CORPORACIONES */

.Logos {

    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: -80px;
    border-radius: 12px;


}




/* ESTILOS SECCION CURSOS */

.seccionCursos h3 {
    text-align: center;
    color: var(--colorprimario);
    font-family: var(--fuenteprincipal);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 1.7rem;
    margin: 40px 0px;



}

.seccionCursos>h2 {
    margin-bottom: 72px;
    text-align: center;
    color: var(--colorsecundario);
    font-family: var(--fuentePrincipal);
    font-weight: 800;
    text-transform: uppercase;
    font-size: 2.7rem;

}

.botonesCursos {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 105px;

}


.botonVertodo {
    background-color: var(--colorprimario);
    color: white;
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    padding: 10px 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid var(--colorprimario);

}



.botonMadrid {

    background-color: white;
    color: var(--colorsecundario);
    font-family: var(--fuentePrincipal);
    font-size: 1.4rem;
    padding: 10px 24px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 800;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border: 1px solid var(--colorprimario);

}


.cursosOfertados {
    margin-bottom: 120px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;


}



.cursosOfertados>div {

    justify-content: space-between;
    flex: 2;
    max-width: 50%;
    padding: 40px 60px;
    display: flex;
    flex-direction: column;
    min-height: 300px;


}



.marketing {
    background-image: url(../img/Curso-programacion-web-full-stack-centro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-right: 15px;



}



.videojuegos {
    background-image: url(../img/Curso-programacion-videojuegos-centro.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    margin-left: 15px;

}



.cursosOfertados div h2 {

    color: white;
    font-size: 2.7rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 22px;


}



.cursosOfertados a {

    color: var(--colorprimario);
    font-size: 1.4rem;
    background-color: white;
    border: 2px solid white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 60px;
    display: inline-block;



}


/* ESTILOS SECCION  PIDENOSLO */

.pidenosloContenedor {
    
   
    /* max-width: 100%; */
    /* text-align: center; */

    padding-bottom: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    
}

.ciudad {
    font-weight: 800;
    font-size: 1.7rem;
    text-transform: uppercase;
    color: var(--colorsecundario);
    font-family: var(--fuentePrincipal);
    padding-bottom: 20px;
    text-align: center;

}


.pidenoslo {
    background-color: var(--colorprimario);
    color: white;
    font-weight: 700;
    float: none;
    padding: 20px 40px;
    border-radius: 96px;
    margin-top: 20px;
    /* display: inline-block; */
    text-transform: uppercase;
    font-family: var(--fuenteprincipal);
    text-decoration: none;
    padding-top: 20px;
  

}

.pidenoslo:hover{

    background-color: var(--colorsecundario);
    text-decoration:underline;
}


/* ESTILOS SECCION VIDEO */



.seccionVideo {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;
   




}

/* ESTILOS SECCION PARA QUIEN SON ESTOS CURSOS */





/* ESTILOS LOCALIZACIONES */
.localizaciones {
    background-color: black;
    color: white
}


/* ESTILOS CONTACTAR*/
/* ESTILOS FOOTER */
/* ESTILOS HEADER */